.idea/.name
.idea/angular_ui-router_bootstrap-tabs.iml
.idea/compiler.xml
.idea/misc.xml
.idea/modules.xml
.idea/rebel_project.xml
.idea/vcs.xml
.idea/workspace.xml
.idea/copyright/profiles_settings.xml
